body
{
	display: flex;
	justify-content: center;
	align-items: center;
	height: 800px;
	flex-direction: column;

	
}
h2
{
	font: 23px 'Inria Sans', sans-serif;
	font-weight: 700;
	padding: 0;
	margin: 0;
	color: #7E7E7E;
	margin-bottom: 1px;
}

*
{
	box-sizing: border-box;
}
form
{

	display: flex;
	flex-direction: column;
	
	width: 340px;
	
}

.bat
{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	
	width: 340px;
}

form label:first-child
{
	margin-bottom: 8px;
	margin-top: 2px;
	margin-left: 7px;
}
form label
{
	margin-top: 3px;
	margin-bottom: 3px;
	margin-left: 7px;
	font: 14px 'Inria Sans', sans-serif;
	font-weight: 600;
	color: #7E7E7E;
}




.mail
{
	
	color: #7E7E7E;
	padding: 12px 11px;
	font: 13px 'Inria Sans', sans-serif;
	margin-top: 13px
}

.pas
{
	color: #7E7E7E;
	padding: 12px 11px ;
	font: 13px 'Inria Sans', sans-serif;
	margin-top: 13px
}

.Input:first-child
{
	outline: none;
	width: 100%;
	height: 40px;
	max-width: 48%;
	margin: 10px 0;
	background-color: #29C5E6;
	text-decoration: none;
	border: none;
	font: 16px Oswald, sans-serif;
	color: #FFFFFF;
	font-weight: 400;
	letter-spacing: 0.7px;
}
.Input
{
	outline: none;
	width: 100%;
	height: 40px;
	max-width: 48%;
	margin: 10px 0;
	background-color: #E7E7E7;
	text-decoration: none;
	border: none;
	font: 16px Oswald, sans-serif;
	color: #8F8F8F;
	font-weight: 400;
	letter-spacing: 0.7px;

}

#er
{
	border: 1px solid #EB2B2B;
}

input
{
	outline: none;
}

p
{
	font: 14px 'Inria Sans', sans-serif;
	font-weight: 100;
	color: #EB2B2B;
	padding: 0;
	margin: 0;
}