/*font-family: 'Josefin Slab', serif;
font-family: 'Montserrat', sans-serif;
font-family: 'Roboto', sans-serif;*/
header
{

	text-transform: uppercase;
	
	width: 100%;
	margin: auto;
}



.menu
{
	position: absolute;

	height: 110px;
	width: 81.88%;
	text-align: center;
	margin: 0 9% 0 9%;
	z-index: 10;


/*1685*/
/*620*/
}

.ul-menu 
{
	width: 100%;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
}

.ul-menu li
{
	padding: 18px;
	font-family: 'Josefin Slab', serif;
	font-size: 12px;

}

.ul-menu li a
{
	font-weight: 400;
	color: #3f2f35;
	text-decoration: none;
}

.ul-menu-two li
{
	text-transform: none;
	font-family: 'Montserrat', sans-serif;
	color: #3f2f35;
	font-size: 61px;
	width: 100%;
	margin: 0;
	padding: 0;
}

.ul-menu-three 
{
	padding: 0;
	display: flex;
	flex-direction: row;
  	text-align: center;
	padding: 0;
  	margin: 0;
  	list-style: none;
  	width: 100%;
}

.ul-menu-three li
{
	flex: 1 10%;
	font-size: 11px;
	text-transform: uppercase;
	color: #3f2f35;
	font-weight: 700;
}

.container
{
	
	width: 100%;
	margin: auto;
}
.inner
{
	width: 100%;
	margin: auto;
	position: absolute;
	z-index: 11;
}

.header-content
{
	box-sizing: border-box;

	width: 41%;
	z-index: 11;
	margin: auto;
	padding-top: 20%;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;

	font-family: 'Roboto', sans-serif;

}



.header-content h2
{
	text-align: center;
	display: block;
	font-size: calc(0.1em + 4vw);
	font-weight: 400;
	text-transform: uppercase;
	white-space: nowrap;
}




.header-content h1
{
	padding-top: 2%;
	text-align: center;
	font-size: calc(0.1em + 3.2vw);
	font-weight: 400;
}

.header-content button
{
	margin-top: 7%;

	text-align: center;
	font-size: calc(0.1em + 0.9vw);
	font-weight: 400;
	text-transform: uppercase;
	color: #ffffff;

	padding: 2.4% 3.5% 2.3% 3.5%;
	background-color: #3f2f35;
	border: none;
}

.back
{
	width: 100%;
	max-width: 1900px;
	margin: 0 auto;

}

.back img
{
  left: 0;
  top: 0;
  width: 100%;
  height: auto;
}

main
{
	max-width: 1900px;
	width: 100%;
	margin: 0 auto;
	position: relative;
	font-family: 'Josefin Slab', serif
}

.main-photo-left
{
	width: 41%;
	top: 0;
}


.main-block
{
	width: 100%;
	height: auto;
	margin: 0 auto;
}

.main-block-2
{
	margin-top: 56.8%;
	width: 100%;
	height: auto;
}

.main-photo-right-1
{
	margin-top: 92px;
	position: absolute;
	display: inline-block;
	height: auto;
	width: 21.6%;
	height: auto;
	margin-left: 3.7%;
	text-align: center;
}

.main-photo-right-1 img
{
	display: inline-block;
	height: auto;
	width: 100%;
	
}
.main-photo-right-2
{
	margin-top: 40px;
	position: absolute;
	display: inline-block;
	height: auto;
	width: 19.15%;
	height: auto;
	margin-left: 2.6%;
	text-align: center;
	right: 11.1%;
}

.main-photo-right-2 img
{
	display: inline-block;
	height: auto;
	width: 100%;
}

.main-price-first
{
	width: 75%;
	margin-left: 25%;
}

.main-price-second
{
	width: 79.7%;
	margin-left: 20.3%;
}

.main-price-second-2
{
	width: 75%;
	margin-left: 25%;
}

.price-first
{
	margin-top: 15px;
	font-weight: 700;
}

.main-name
{
	margin-top: 30px;
	font-weight: 700;
}

.main-price
{
	margin-top: 8px;
}

.right-cecond
{
	padding-top: 10%;
	position: absolute;
	display: inline-block;
	height: auto;
	width: 19.15%;
	height: auto;
	margin-left: 2.6%;
	text-align: center;
	right: 11.1%;
}

.right-cecond img
{
	display: inline-block;
	height: auto;
	width: 100%;
}

.right-first
{
	margin-top: 15%;
	position: absolute;
	display: inline-block;
	height: auto;
	width: 21.6%;
	height: auto;
	margin-left: 3.7%;
	text-align: center;
}

.right-first img
{
	display: inline-block;
	height: auto;
	width: 100%;
	
}


.main-block-1
{
	width: 100%;
	height: auto;
	position: absolute;	
	margin: 0 auto;

}
.con
{
	
}

.block-info
{
	
	padding-top: 20%;
    margin-left: 11.1%;
    width: 24.5%;
	display: inline-block;
	position: absolute;
}
.main-block-1 img
{
	float: right;
	right: 0;
	width: 58.99%;
	height: auto;
	display: inline-block;
	
}

.main-title
{
	font-weight: 700;
	font-size: 52px;
	color: #000000;
	margin-bottom: 35px;
}


.main-title-text
{
	font-weight: 700;
	font-size: 18px;
	color: #888888;
	margin-bottom: 32px;
}

.main-title-button
{
	text-transform: uppercase;
	font-weight: 700;
	font-size: 14px;
	color: #000000;
}


.main-block-3
{
	width: 100%;
	height: auto;
	position: absolute;	
}

.main-block-3 img
{
	float: right;
	right: 0;
	width: 58.99%;
	height: auto;
	display: inline-block;
	
}

/*------------ footer ----------------*/

footer
{
	margin-top: 56.7%;
	background-color: #1c1c1c;
	width: 100%;
	max-height: 400px;
	height: 100%;
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;

	font-family: 'Josefin Slab', serif;
}

.footer-content
{
	width: 32%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	position: relative;

}

.footer-title
{
	color: #ffffff;
	font-size: calc(0.1em + 3vw);
	font-weight: 700;
	margin: 0 auto; 
	margin-bottom: 5%;
    margin-top: 17%;
    white-space: nowrap;


}

footer form
{
	width: 100%;
	position: relative;

}

#mail
{
	padding: 9px 0; 	 
	font-size: 15px;
	color: #999999;
	width: 100%;
	border: none;
	border-bottom: 1px solid #999999;
	background-color: #1c1c1c;

}

#submit
{
	top: 10px;
    right: 0;
	border: none;
	background-color: #1c1c1c;
	font-size: 14px;
	color: #ffffff;
	position: absolute;
}


.footer-network
{
	margin: auto;
	margin-top: 90px;
	margin-bottom: 16px;

}


/*---------- large screen*/
@media (min-width: 2200px) 
{
	.header-content
{
	box-sizing: border-box;

	width: 41%;
	z-index: 11;
	margin: auto;
	padding-top: 13%;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;

	font-family: 'Roboto', sans-serif;

}

}

@media (min-width: 2700px) 
{
.header-content h2
{
	text-align: center;
	display: block;
	font-size: calc(0.1em + 3.5vw);
	font-weight: 400;
	text-transform: uppercase;
	white-space: nowrap;
}


}
@media (min-width: 1901px) 
{
footer
{
	margin-top: 1077px;
	background-color: #1c1c1c;
	width: 100%;
	max-height: 400px;
	height: 100%;
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;

	font-family: 'Josefin Slab', serif;
}

}

/*-----------------------------------*/

@media (max-width: 417px) 
{


.menu
{
	background-color: red;
	height: 110px;
	width: 81.88%;
	text-align: center;
	margin: 0 9% 0 9%;
	z-index: 10;

}

}
