*{
	box-sizing: border-box;
}
a{
	text-decoration: none;
	display: inline-block;
}

ul,
li{
	list-style: none;
	padding: 0;
	margin: 0;
}
.container{
	max-width: 1170px;
	padding: 0 15px;
	margin: 0 auto;
}
header{
	font-family: 'Roboto', sans-serif;
}

body{
	/*font-family: 'Roboto', sans-serif;*/
	font-family: 'PT Serif', serif;
	font-weight: 400;
	font-size: 14px;
	line-height: 18px;
	color: #5e5e5e;
}
.header__contacts:after{
	content: "";
	clear: both;
	display: block;
}
.header__top
{
	background-color: #303030;
}
.header__btn{
	float: right;
	line-height: 36px;
	color: #1b1b1b;
	background-color: #ffc222;
	padding: 5px 20px 4px 50px;
	font-size: 16px;
	position: relative;
}
.header__btn:before{
	font-family: 'icomoon';
	content: "\f0b1";
	position: absolute;
	left: 22px;
	color: #1b1b1b;
}
.header__phone,
.header__email{
	color: #cbcacb;
	letter-spacing: 0.25px;
	line-height: 45px;
	position: relative;
}
.header__phone{
	padding-left: 20px;
	padding-right: 30px;
}
.header__phone:before{
	font-family: 'icomoon';
	content: "\f095";
	position: absolute;
	left: 0;
	color: #ffc222;
}
.header__email{
	padding-left: 24px;
}
.header__email:before{
	font-family: 'icomoon';
	content: "\f003";
	position: absolute;
	left: 0;
	color: #ffc222;
}
.header__content{
	padding: 30px 24px;
}
.header__content-inner{
	display: flex;
	justify-content: space-between;
}
.menu li{
	display: inline-block;
}
.menu a{
	color: #323232;
	font-size: 16px;
	line-height: 36px;
	border: 1px solid transparent;
	padding: 0px 16px;
	transition: all .1s;
}
.menu a:hover{
	border-color: #ffc222;
}
.menu li + li{
	padding-left: 10px;
}
.menu ul{
	transition: .2s;
}
#modal
{
	display: none;
}
.slider{
	background-image: url('../img/slider-fon.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	min-height: 500px;
}
.slider__item
{
	padding-left: 210px;
    padding-right: 210px;
	text-align: center;
	padding-top: 110px;
	max-width: 665px;
	margin: 0 auto;
}
.slider__title{
	font-family: 'Roboto', sans-serif;
	text-transform: uppercase;
	font-weight: 500;
	font-size: 30px;
	line-height: 36px;
	letter-spacing: 1.5px;
	color: #fff;
	margin-bottom: 22px;
}
.slider__text
{
	font-weight: 500;
	font-size: 18px;
	line-height: 24px;
	color: #d3d2d2;
	margin-bottom: 50px;
}
.slider__btn{
	
}
.slider__btn-default{
	outline: none;
	transform: translateY(-75px);
	width: 40px;
	height: 40px;
	background-color: #ffc222;
	border: 1px solid #fff;
}
.slider__prev-btn:after{
	font-size: 14px;
	color: #fff;
	font-family: 'icomoon';
	content: "\f104";
}
.slider__next-btn:after{
	font-size: 14px;
	color: #fff;
	font-family: 'icomoon';
	content: "\f105";
}
.slider__next-btn{
	float: right;
}
.slider__container{

	overflow: hidden;
}
.slider__track{
	display: flex;
	transition: .2s;
}
.default__btn{
	display: inline-block;
	font-family: 'Roboto', sans-serif;
	font-weight: 500;
	font-size: 14px;
	line-height: 24px;
	letter-spacing: .25px;
	color: #fff;
	cursor: pointer;
	padding: 8px 30px 8px 24px;
	border: 1px solid #ffc222;
	border-right-width: 20px;
	position: relative;
}
.default__btn:after{
	font-family: 'icomoon';
	content: "\f105";
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	right: -12px;
}
.services{
	padding: 50px 30px;
}
.services__top,
.news__top{
	display: flex;
	justify-content: space-between;
	margin-bottom: 60px;
}
.services__title-box,
.form__title-box,
.news__title-box
{
	max-width: 520px;
	padding-left: 140px;
	position: relative;
}
.services__title-box:before,
.form__title-box:before,
.news__title-box:before{
	content: "";
	position: absolute;
	width: 105px;
	height: 2px;
	background-color: #ffc222;
	left: 0;
	top: 11px;
}
.services__title,
.form__title,
.news__title
{
	font-family: 'Roboto', sans-serif;
	font-size: 24px;
	line-height: 24px;
	font-weight: 500;
	margin-bottom: 10px;
	color: #212020;
}
.services__text,
.form__text,
.news__text{
	font-family: 'PT Serif', serif;
	font-size: 14px;
	line-height: 14px;
	letter-spacing: .1px;
	font-weight: 500;
	color: #5e5e5e;
}
.services__btn a,
.news__btn a{
	font-size: 14px;
	line-height: 24px;
	letter-spacing: .25px;
	padding: 5px 38px;
	border: 3px solid #e6e6e6;
	color: #373636;
}
.services__items{
	display: flex;
	justify-content: space-between;
}
.services__item{
	max-width: 360px;
	text-align: center;
	padding: 30px 0px 80px;
	position: relative;
	min-height: 375px;
	background-color: #f9f9f9;
	box-shadow: 0px 7px 24.3px 2.7px rgba(91, 89, 89, 0.14);
}
.services__item img{
	position: absolute;
	transform: translateX(-21px);
}
.services__item-title
{	
	font-family: 'Roboto', sans-serif;
	font-size: 18px;
	line-height: 24px;
	font-weight: 500;
	color: #212020;
	margin: 24px 0px;
    margin-top: 75px;
}
.services__item-text{
	font-size: 14px;
	line-height: 18px;
	letter-spacing: .1px;
	font-weight: 500;
	color: #5e5e5e;
	padding: 0px 30px 30px;
}
.services__item-btn{
	position: absolute;
	bottom: 40px;
	left: 0;
	right: 0;
}
.services__item-btn .default__btn{
	color: #373636;
}
.services__item-btn .default__btn:after{
	color: #fff;
}
.services__item-link{
	font-family: 'Roboto', sans-serif;
	font-size: 14px;
	line-height: 18px;
	font-weight: 500;
	color: #050505;
	border-bottom: 1px solid #050505;
	margin-right: 60px;
}

.about{
	background-image: url(../img/about-fon.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	min-height: 300px;
	padding: 25px 0px 45px;
}
.about__inner{
	max-width: 545px;
}
.about__title{
	font-family: 'Roboto', sans-serif;
	font-size: 24px;
	line-height: 24px;
	color: #fff;
	font-weight: 500;
}
.about__text{
	font-size: 14px;
	line-height: 24px;
	letter-spacing: .1px;
	color: #d3d2d2;
	font-weight: 500;
	margin: 25px 0px 30px;
}
.about__btn.default__btn:after{
	color: #000;
}
.form{
	padding-top: 30px;
}
.form__inner{
	padding-bottom: 40px;
	background-image: url('../img/form-fon.png');
	min-height: 460px;
	background-repeat: no-repeat;
	background-position: bottom right;
}
.form__box{
	max-width: 850px;
	padding-top: 45px;
}
.form__box-inner{
	display: flex;
	justify-content: space-between;
}
.form__box-left{
	max-width: 260px;
	width: 100%;
}
.form__box-right{
	max-width: 555px;
	width: 100%;
}
.form__box-inner label,
.form__box-inner input,
.form__box-inner textarea,
.form__box-inner select
{
	display: block;
	width: 100%;
}
.form__box-inner label{
	font-family: 'Roboto', sans-serif;
	font-size: 14px;
	line-height: 36px;
	color: #282828;
}
.form__box-inner input{
	margin-bottom: 8px;
	outline: none;
	height: 40px;
	border: 1px solid #e6e6e6;
	padding: 0px 10px;
}
.form__box-inner select{
	outline: none;
	height: 40px;
	border: 1px solid #e6e6e6;
	padding-left: 17px;
}
.form__box-inner textarea{
	outline: none;
	border: 1px solid #e6e6e6;
	padding: 10px;
	height: 208px;
	resize: none;
	margin-bottom: 42px;
}
.form__box-inner button{
	background-color: transparent;
	color: #282828;
	float: right;
}
.advantages{
	padding: 55px 0px 40px;
	background-image: url('../img/adv-fon.jpg');
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	min-height: 285px;
}
.advantages__inner{
	display: flex;
	justify-content: space-between;
	color: #fff;
}
.advantages__item{
	max-width: 330px;
	text-align: center;
}
.advantages__title{
	font-family: 'Roboto', sans-serif;
	font-size: 18px;
	line-height: 24px;
	position: relative;
	padding-top: 60px;

}
.advantages__title:before{
	content: "";
	position: absolute;
	width: 40px;
	height: 40px;
	border: 2px solid #ffc222;
	top: 0;
	left: 50%;
	transform: translateX(-50%);
}
.advantages__title:after{
	position: absolute;
	font-size: 14px;
	font-family: 'icomoon';
	content: "\f00c";
	top: 10px;
	left: 50%;
	transform: translateX(-50%);
}
.advantages__text{
	font-size: 14px;
	line-height: 24px;
	letter-spacing: .1px;
	color: #d3d2d2;	
	margin-top: 15px;
}
.news{
	padding: 55px 0px 68px;
	background-color: #f9f9f9;
}
.news__slider-title{
	font-size: 18px;
	line-height: 24px;
	letter-spacing: .5px;
	color: #242424;
}
.news__slider-text{
	font-size: 14px;
	line-height: 18px;
	letter-spacing: .1px;
	color: #5e5e5e;
	margin: 15px 0px 30px;
}
.news__slider-author{
	font-size: 14px;
	line-height: 18px;
	letter-spacing: .1px;
	color: #212020;
}
.news__inner{
	display: flex;
	justify-content: space-between;
}
.news__slider{
	overflow: hidden;
	max-width: 555px;
	width: 100%;
	 background-color: rgb( 255, 255, 255 );
  box-shadow: 2.5px 4.33px 16px 4px rgb( 235, 235, 235 );

}
.news__slider-inner{
	transition: .2s;
	display: flex;
}
.news__blog{
	max-width: 260px;
	width: 100%;
}
.news__slider-item{
	position: relative;
	min-width: 555px;
	padding: 0;
	padding: 60px 40px 45px 40px;
}
.news__slider-item:after{
	font-family: 'icomoon';
	content: "\f10e";
	position: absolute;
	background-color: #ffc222;
	width: 65px;
	height: 30px;
	text-align: center;
	color: #fff;
	line-height: 30px;
	left: 40px;
	top: 0px;
	font-size: 16px;
}
.news__blog-title{
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
	line-height: 18px;
	letter-spacing: .5px;
	color: #242424;
	margin: 15px 0px 15px;
}
.news__blog-text{
	font-size: 14px;
	line-height: 18px;
	letter-spacing: .1px;
	color: #5e5e5e;
}
.news__slider-prev-btn,
.news__slider-next-btn{
	transform: translateY(35px);
	display: block;
	position: relative;
}
.news__slider-prev-btn:after{	
	font-size: 14px;
	font-family: 'icomoon';
	content: "\f104";
}
.news__slider-next-btn:after{
	font-size: 14px;
	font-family: 'icomoon';
	content: "\f105";
}
.news__slider-next-btn{
	margin-left: 10px;
}
.news__btn-inner{
	margin-left: 40.8%;
	display: flex;
}
.news__images{
	position: relative;
}
.news__date{
	text-align: center;
	position: absolute;
	background-color: #ffc222;
	height: 55px;
	width: 50px;
	color: #fff;padding-top: 30px;
	font-weight: 700;
	top: -1px;
	left: 10px;
}



.footer{
	background-color: #595959;
}
.footer__inner{
	display: flex;
	justify-content: space-between;
	padding: 40px 0px 45px;
}
.footer__btn{
	float: none;
	margin: 20px 0px 20px;
}
.footer__info{
	max-width: 360px;
}
.footer__title{
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
	line-height: 36px;
	letter-spacing: .5px;
	color: #fff;

}
.footer__text{
	font-family: 'Roboto', sans-serif;
	font-size: 14px;
	line-height: 18px;
	color: #d3d2d2;
}
.footer__mobile{
	padding-left: 30px;
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
	line-height: 24px;
	letter-spacing: .25px;
	color: #fff;
	position: relative;
}
.footer__email,
.footer__location{
	padding-left: 30px;
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
	line-height: 36px;
	letter-spacing: .25px;
	color: #fff;
	position: relative;
}
.footer__mobile:before{
	font-family: 'icomoon';
	content: "\f095";
	font-size: 16px;
	line-height: 24px;
	letter-spacing: .25px;
	color: #ffc222;
	position: absolute;
	left: 0;
}
.footer__email:before{
	font-family: 'icomoon';
	content: "\f003";
	font-size: 16px;
	line-height: 36px;
	letter-spacing: .25px;
	color: #ffc222;
	position: absolute;
	left: 0;
}
.footer__location:before{
	font-family: 'icomoon';
	content: "\f041";
	font-size: 16px;
	line-height: 36px;
	letter-spacing: .25px;
	color: #ffc222;
	position: absolute;
	left: 0;	
}

.header__btn-menu{
	display: none;
	font-size: 28px;
}
.footer__map{
	width: 601px;
    height: 250px;
}