/*font-family: 'Josefin Slab', serif;
font-family: 'Montserrat', sans-serif;
font-family: 'Roboto', sans-serif;*/
header
{

	text-transform: uppercase;
	
	width: 100%;
	margin: auto;
}



.menu
{
	position: absolute;

	height: 110px;
	width: 81.88%;
	text-align: center;
	margin: 0 9% 0 9%;
	z-index: 10;


/*1685*/
/*620*/
}

.ul-menu 
{
	width: 100%;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
}

.ul-menu li
{
	font-size: calc(0.4em + 0.5vw);
	padding: 1.7%;
	font-family: 'Josefin Slab', serif;
	padding-top: 2%;
	

}

.ul-menu li a
{
	font-weight: 400;
	color: #3f2f35;
	text-decoration: none;
}

.ul-menu-two li
{
	text-transform: none;
	font-family: 'Montserrat', sans-serif;
	color: #3f2f35;
	font-size: calc(0.1em + 3.8vw);
	width: 100%;
	margin: 0;
	padding: 0;
	position: relative;
}

.ul-menu-three 
{
	padding: 0;
	display: flex;
	flex-direction: row;
  	text-align: center;
	padding: 0;
  	margin: 0;
  	list-style: none;
  	width: 100%;
    margin: 0 auto;
}

.ul-menu-three li
{
	flex: 1 10%;
	font-size: calc(0em + 1vw);
	text-transform: uppercase;
	color: #3f2f35;
	font-weight: 700;
	margin: 0 auto;
	
}

.container
{
	
	width: 100%;
	margin: auto;
}
.inner
{
	width: 100%;
	margin: auto;
	position: absolute;
	z-index: 11;
}

.header-content
{
	box-sizing: border-box;

	width: 41%;
	z-index: 11;
	margin: auto;
	padding-top: 20%;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;

	font-family: 'Roboto', sans-serif;

}



.header-content h2
{
	text-align: center;
	display: block;
	font-size: calc(0.1em + 4vw);
	font-weight: 400;
	text-transform: uppercase;
	white-space: nowrap;
}




.header-content h1
{
	padding-top: 2%;
	text-align: center;
	font-size: calc(0.1em + 3.2vw);
	font-weight: 400;
}

.header-content button
{
	margin-top: 7%;

	text-align: center;
	font-size: calc(0.1em + 0.9vw);
	font-weight: 400;
	text-transform: uppercase;
	color: #ffffff;

	padding: 2.4% 3.5% 2.3% 3.5%;
	background-color: #3f2f35;
	border: none;
}

.back
{
	width: 100%;
	max-width: 1900px;
	margin: 0 auto;

}

.back img
{
  left: 0;
  top: 0;
  width: 100%;
  height: auto;
}

main
{
	max-width: 1900px;
	width: 100%;
	margin: 0 auto;
	position: relative;
	font-family: 'Josefin Slab', serif
}

.main-photo-left
{
	width: 41%;
	top: 0;
}


.main-block
{
	width: 100%;
	height: auto;
	margin: 0 auto;
}

.main-block-2
{
	margin-top: 56.8%;
	width: 100%;
	height: auto;
}

.main-photo-right-1
{
	margin-top: 92px;
	position: absolute;
	display: inline-block;
	height: auto;
	width: 21.6%;
	height: auto;
	margin-left: 3.7%;
	text-align: center;
}

.main-photo-right-1 img
{
	display: inline-block;
	height: auto;
	width: 100%;
	
}
.main-photo-right-2
{
	margin-top: 40px;
	position: absolute;
	display: inline-block;
	height: auto;
	width: 19.15%;
	height: auto;
	margin-left: 2.6%;
	text-align: center;
	right: 11.1%;
}

.main-photo-right-2 img
{
	display: inline-block;
	height: auto;
	width: 100%;
}

.main-price-first
{
	width: 75%;
	margin-left: 25%;
}

.main-price-second
{
	width: 79.7%;
	margin-left: 20.3%;
}

.main-price-second-2
{
	width: 75%;
	margin-left: 25%;
}

.price-first
{
	margin-top: 15px;
	font-weight: 700;
}

.main-name
{
	margin-top: 30px;
	font-weight: 700;
}

.main-price
{
	margin-top: 8px;
}

.right-cecond
{
	padding-top: 10%;
	position: absolute;
	display: inline-block;
	height: auto;
	width: 19.15%;
	height: auto;
	margin-left: 2.6%;
	text-align: center;
	right: 11.1%;
}

.right-cecond img
{
	display: inline-block;
	height: auto;
	width: 100%;
}

.right-first
{
	margin-top: 15%;
	position: absolute;
	display: inline-block;
	height: auto;
	width: 21.6%;
	height: auto;
	margin-left: 3.7%;
	text-align: center;
}

.right-first img
{
	display: inline-block;
	height: auto;
	width: 100%;
	
}


.main-block-1
{
	width: 100%;
	height: auto;
	position: absolute;	
	margin: 0 auto;

}

.block-info
{
	
	padding-top: 20%;
    margin-left: 11.1%;
    width: 24.5%;
	display: inline-block;
	position: absolute;
}
.main-block-1 img
{
	float: right;
	right: 0;
	width: 58.99%;
	height: auto;
	display: inline-block;
	
}

.main-title
{
	font-weight: 700;
	font-size: 52px;
	color: #000000;
	margin-bottom: 35px;
}


.main-title-text
{
	font-weight: 700;
	font-size: 18px;
	color: #888888;
	margin-bottom: 32px;
}

.main-title-button
{
	text-transform: uppercase;
	font-weight: 700;
	font-size: 14px;
	color: #000000;
}


.main-block-3
{
	width: 100%;
	height: auto;
	position: absolute;	
}

.main-block-3 img
{
	float: right;
	right: 0;
	width: 58.99%;
	height: auto;
	display: inline-block;
	
}

/*------------ footer ----------------*/

footer
{
	margin-top: 56.7%;
	background-color: #1c1c1c;
	width: 100%;
	max-height: 400px;
	height: 100%;
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;

	font-family: 'Josefin Slab', serif;
}

.footer-content
{
	width: 32%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	position: relative;

}

.footer-title
{
	color: #ffffff;
	font-size: calc(0.1em + 3vw);
	font-weight: 700;
	margin: 0 auto; 
	margin-bottom: 5%;
    margin-top: 17%;
    white-space: nowrap;


}

footer form
{
	width: 100%;
	position: relative;

}

#mail
{
	padding: 9px 0; 	 
	font-size: 15px;
	color: #999999;
	width: 100%;
	border: none;
	border-bottom: 1px solid #999999;
	background-color: #1c1c1c;

}

#submit
{
	top: 10px;
    right: 0;
	border: none;
	background-color: #1c1c1c;
	font-size: 14px;
	color: #ffffff;
	position: absolute;
}


.footer-network
{
	margin: auto;
	margin-top: 90px;
	margin-bottom: 16px;

}







/*---------- large screen*/
@media (min-width: 2200px) 
{
	.header-content
{
	box-sizing: border-box;

	width: 41%;
	z-index: 11;
	margin: auto;
	padding-top: 13%;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;

	font-family: 'Roboto', sans-serif;

}

}

@media (min-width: 2700px) 
{
.header-content h2
{
	text-align: center;
	display: block;
	font-size: calc(0.1em + 3.5vw);
	font-weight: 400;
	text-transform: uppercase;
	white-space: nowrap;
}


}
@media (min-width: 1901px) 
{
footer
{
	margin-top: 1077px;
	background-color: #1c1c1c;
	width: 100%;
	max-height: 400px;
	height: 100%;
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;

	font-family: 'Josefin Slab', serif;
}

}

/*-----------------------------------*/
@media (min-width: 2500px)
{

	.ul-menu-three li
{
	flex: 1 10%;
	 font-size: calc(-1.3em + 2vw);
	text-transform: uppercase;
	color: #3f2f35;
	font-weight: 700;
}

.ul-menu-three 
{
	padding: 0;
	display: flex;
	flex-direction: row;
  	text-align: center;
	padding: 0;
  	margin: 0;
  	list-style: none;
  	width: 100%;
}
}


@media (max-width: 900px)
{
	.block-info
{
	
	padding-top: 14%;
    margin-left: 10.1%;
    width: 24.5%;
	display: inline-block;
	position: absolute;
}

.main-title {
    font-weight: 700;
    font-size: 42px;
    color: #000000;
    margin-bottom: 30px;
}

.main-title-text {
    font-weight: 700;
    font-size: 12px;
    color: #888888;
    margin-bottom: 27px;
}

.main-title-button {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 13px;
    color: #000000;
}
}
	



@media (max-width: 600px)
{
	.block-info
{
	
	padding-top: 13%;
    margin-left: 10.1%;
    width: 24.5%;
	display: inline-block;
	position: absolute;
}

.main-title {
    font-weight: 700;
    font-size: 37px;
    color: #000000;
    margin-bottom: 20px;
}

.main-title-text {
    font-weight: 700;
    font-size: 10px;
    color: #888888;
    margin-bottom: 21px;
}

.main-title-button {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 13px;
    color: #000000;
}


.price-first {
    margin-top: 4px;
    font-weight: 700;
}

.main-price {
    margin-top: 4px;
}

.main-name {
    margin-top: 9px;
    font-weight: 700;
}

#submit {
    top: 10px;
    right: -80px;
    border: none;
    background-color: #1c1c1c;
    font-size: 11px;
    color: #ffffff;
    position: absolute;
}

#mail {
    padding: 9px 0;
    font-size: 11px;
    color: #999999;
    width: 100%;
    border: none;
    border-bottom: 1px solid #999999;
    background-color: #1c1c1c;
}
}

@media (max-width: 480px)
{
	.ul-menu li a {
    font-weight: 400;
    color: #3f2f35;
    text-decoration: none;
    display: none;
}

.back img {
    left: 0;
    top: 0;
    width: 100%;
    height: auto;
    display: none;
}

header {
    text-transform: uppercase;
    width: 100%;
    margin: auto;
    height: 548px;
    background: url('img/header-back-phone.jpg') center no-repeat;
}

.header-content h2 {
    text-align: center;
    display: block;
    font-size: calc(1.1em + 4vw);
    font-weight: 400;
    text-transform: uppercase;
    white-space: nowrap;
}

.header-content h1 {
    padding-top: 2%;
    text-align: center;
    font-size: calc(0.1em + 5.2vw);
    font-weight: 400;
}

.header-content button {
    margin-top: 7%;
    text-align: center;
    font-size: calc(0.1em + 1.9vw);
    font-weight: 400;
    text-transform: uppercase;
    color: #ffffff;
    padding: 2.4% 3.5% 2.3% 3.5%;
    background-color: #3f2f35;
    border: none;
}

.main-photo-left {
    width: 100%;
    top: 0px;
}


.main-photo-right-1 {
    margin-top: 140%;
    position: absolute;
    /* display: inline-block; */
    height: auto;
    width: 29.6%;
    height: auto;
    margin-left: -92.3%;
    text-align: center;
}

.main-photo-right-2 {
    margin-top: 132%;
    position: absolute;
    /* display: inline-block; */
    height: auto;
    width: 27.15%;
    height: auto;
    margin-left: 11.6%;
    text-align: center;
    right: 16.1%;
}
.main-block {
    width: 100%;
    height: auto;
    margin: 0 auto;
    margin-bottom: 84%;
}

.block-info {
    padding-top: 105%;
    margin-left: 5%;
    margin-right: 5%;
    width: 89%;
    display: inline-block;
    position: absolute;
}

.main-block-1 img {
    float: right;
    right: 0;
    width: 100%;
    height: auto;
    display: inline-block;
}

.main-title {
    font-weight: 700;
    font-size: 37px;
    color: #000000;
    margin-bottom: 20px;
}

.main-title-text {
    font-weight: 700;
    font-size: 18px;
    color: #888888;
    margin-bottom: 33px;
}

.main-title-button {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 16px;
    color: #000000;
    padding-left: 37%;
}

.main-block-2 {
    margin-top: 253.8%;
    margin-bottom: 85%;   
    width: 100%;
    height: auto;
}

.main-photo-left {
    width: 100%;
    top: 0px;
}

.right-first {
    margin-top: 161%;
    position: absolute;
    display: inline-block;
    height: auto;
    width: 27.6%;
    height: auto;
    margin-left: -89.3%;
    text-align: center;
}

.right-cecond {
    padding-top: 150%;
    position: absolute;
    display: inline-block;
    height: auto;
    width: 24.15%;
    height: auto;
    margin-left: 2.6%;
    text-align: center;
    right: 17.1%;
}

.main-block-3 img {
    float: right;
    right: 0;
    width: 100%;
    height: auto;
    display: inline-block;
}

footer {
    margin-top: 251.7%;
    background-color: #1c1c1c;
    width: 100%;
    max-height: 400px;
    height: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Josefin Slab', serif;
}

.footer-content {
    width: 63%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
}

.footer-title {
    color: #ffffff;
    font-size: calc(0.1em + 3vw);
    font-weight: 700;
    margin: 0 auto;
    margin-bottom: 8%;
    margin-top: 15%;
}

footer form {
    width: 100%;
    position: relative;
}

#mail {
    padding: 9px 0;
    font-size: 11px;
    color: #999999;
    width: 100%;
    border: none;
    border-bottom: 1px solid #999999;
    background-color: #1c1c1c;
}

#submit {
    top: 10px;
    right: -6px;
    border: none;
    background-color: #1c1c1c;
    font-size: 11px;
    color: #ffffff;
    position: absolute;
}

.footer-network {
    margin: auto;
    margin-top: 90px;
    margin-bottom: 16px;
}

}

	

