/*font-family: 'Josefin Slab', serif;
font-family: 'Montserrat', sans-serif;
font-family: 'Roboto', sans-serif;*/
header
{

	text-transform: uppercase;
	max-width: 1900px;
	width: 100%;
	margin: auto;
}



.menu
{
	position: absolute;

	height: 110px;
	width: 81.88%;
	text-align: center;
	margin: 0 9% 0 9%;
		z-index: 10;


/*1685*/
/*620*/
}

.ul-menu 
{
	width: 100%;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
}

.ul-menu li
{
	padding: 18px;
	font-family: 'Josefin Slab', serif;
	font-size: 12px;

}

.ul-menu li a
{
	font-weight: 400;
	color: #3f2f35;
	text-decoration: none;
}

.ul-menu-two li
{
	text-transform: none;
	font-family: 'Montserrat', sans-serif;
	color: #3f2f35;
	font-size: 61px;
	width: 100%;
	margin: 0;
	padding: 0;
}

.ul-menu-three 
{
	padding: 0;
	display: flex;
	flex-direction: row;
  	text-align: center;
	padding: 0;
  	margin: 0;
  	list-style: none;
  	width: 100%;
}

.ul-menu-three li
{
	flex: 1 10%;
	font-size: 11px;
	text-transform: uppercase;
	color: #3f2f35;
	font-weight: 700;
}

.container
{
	
	width: 100%;
	margin: auto;
}
.inner
{
	width: 100%;
	margin: auto;
	position: absolute;
	z-index: 11;
}

.header-content
{
	box-sizing: border-box;

	width: 41%;
	z-index: 11;
	margin: auto;
	padding-top: 20%;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;

	font-family: 'Roboto', sans-serif;

}
.header-content h2
{
	display: block;
	font-size: 80px;
	font-weight: 400;
	text-transform: uppercase;
	white-space: nowrap;
}



.header-content h1
{
	font-size: 50px;
	font-weight: 400;
}

.header-content button
{
	margin-top: 48px;

	font-size: 15px;
	font-weight: 400;
	text-transform: uppercase;
	color: #ffffff;

	padding: 20px 40px 21px 40px;
	background-color: #3f2f35;
	border: none;
}

.back
{
	width: 100%;

}

.back img
{
  left: 0;
  top: 0;
  width: 100%;
  height: auto;
}

main
{
	position: relative;
}

.mian-photo-first
{
	width: 41%;
	top: 0;

}


.first-main-content
{
	width: 100%;
	height: auto;
	font-family: 'Josefin Slab', serif
	
}

.quare
{
	margin-top: 110px;
	position: absolute;
	display: inline-block;
	height: auto;
	width: 17.36%;
	height: auto;
	margin-left: 8%;
	text-align: center;
}

.quare img
{
	display: inline-block;
	height: auto;
	width: 100%;
	
}
.prime
{
	margin-top: 40px;
	position: absolute;
	display: inline-block;
	height: auto;
	width: 19.15%;
	height: auto;
	right: 212px;
	margin-left: 2.6%;
	text-align: center;
	right: 11.1%;
}

.prime img
{
	display: inline-block;
	height: auto;
	width: 100%;
}

.headphones-two
{
	width: 94.2%;
	margin-left: 5.8%;
}

.backspace-two
{
	width: 79.7%;
	margin-left: 20.3%;
}


.main-good-quare
{
	margin-top: 30px;
	font-weight: 700;
}

.main-good-prime
{
	font-weight: 700;
	margin-top: 30px;
}

.main-price-quare
{
	margin-top: 8px;
}

.main-price-prime
{
	margin-top: 8px;
}












